<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="assets/images/favicon.png" rel="icon" />
    <title>Documentation | Your ThemeForest item Name</title>
    <meta name="description" content="Your ThemeForest item Name and description">
    <meta name="author" content="harnishdesign.net">

    <!-- Stylesheet
============================== -->
    <!-- Bootstrap -->

</head>

<body data-spy="scroll" data-target=".idocs-navigation" data-offset="125">

    <!-- Preloader -->
    <!-- <div class="preloader">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div> -->
    <!-- Preloader End -->

    <!-- Document Wrapper   
=============================== -->
    <div id="main-wrapper">

        <!-- Header
  ============================ -->
        <header id="header" class="sticky-top">
            <!-- Navbar -->
            <nav class="primary-menu navbar navbar-expand-lg navbar-dropdown-dark">
                <div class="container-fluid">
                    <!-- Sidebar Toggler -->
                    <button id="sidebarCollapse" class="navbar-toggler d-block d-md-none" type="button"><span></span><span class="w-75"></span><span class="w-50"></span></button>

                    <!-- Logo -->
                    <a class="logo ml-md-3" href="index.html" title="iDocs Template"> <img src="../assets/images/logo.png" alt="iDocs Template" /> </a>
                    <!-- <span class="text-2 ml-2">v1.0</span> -->
                    <!-- Logo End -->

                    <!-- Navbar Toggler -->
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#header-nav"><span></span><span></span><span></span></button>
                    <div></div>
                    <div id="header-nav" class="collapse navbar-collapse justify-content-end" *ngIf="false">
                        <ul class="navbar-nav">
                            <li class="dropdown"> <a class="dropdown-toggle" href="#">Dropdown</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li class="dropdown"><a class="dropdown-item dropdown-toggle" href="#">Dropdown Action</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="index.html">Action</a></li>
                                            <li><a class="dropdown-item" href="feature-header-dark.html">Another Action</a></li>
                                            <li><a class="dropdown-item" href="feature-header-primary.html">Something Else Here</a></li>
                                            <li><a class="dropdown-item" href="index-2.html">Another Link</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="#">Another Action</a>
                                        <li><a class="dropdown-item" href="#">Something Else Here</a></li>
                                </ul>
                                </li>
                                <li><a target="_blank" href="https://themeforest.net/user/harnishdesign/portfolio?ref=HarnishDesign">Other Template</a></li>
                                <li><a target="_blank" href="https://themeforest.net/user/harnishdesign/#contact?ref=HarnishDesign">Support</a></li>
                        </ul>
                    </div>
                    <ul class="social-icons social-icons-sm ml-lg-2 mr-2" *ngIf="false">
                        <li class="social-icons-twitter"><a data-toggle="tooltip" href="http://www.twitter.com/harnishdesign/" target="_blank" title="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-icons-facebook"><a data-toggle="tooltip" href="http://www.facebook.com/harnishdesign/" target="_blank" title="" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-icons-dribbble"><a data-toggle="tooltip" href="http://www.dribbble.com/harnishdesign/" target="_blank" title="" data-original-title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </nav>
            <!-- Navbar End -->
        </header>
        <!-- Header End -->

        <!-- Content
  ============================ -->
        <div id="content" role="main">

            <!-- Sidebar Navigation
	============================ -->
            <div class="idocs-navigation bg-dark docs-navigation-dark">
                <ul class="nav flex-column ">
                    <li class="nav-item"><a class="nav-link active" href="#idocs_start">Getting Started</a>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#installation">Installation</a></li>
                            <li class="nav-item"><a class="nav-link" href="#available_configurations">Available Configurations</a></li>
                            <li class="nav-item"><a class="nav-link" href="#available_country_codes">Available Country Codes</a></li>
                            <li class="nav-item"><a class="nav-link" href="#available_sizes">Available sizes</a></li>
                            <li class="nav-item"><a class="nav-link" href="#available_effects">Available effects</a></li>
                        </ul>
                    </li>
                    <li *ngIf="false" class="nav-item"><a class="nav-link" href="#idocs_layout">Layout</a>
                        <ul class="nav flex-column">
                            <li class="nav-item"><a class="nav-link" href="#idocs_header">Header</a></li>
                            <li class="nav-item"><a class="nav-link" href="#idocs_navbar">Navbar</a></li>
                            <li class="nav-item"><a class="nav-link" href="#idocs_sidebar">Sidebar</a></li>
                            <li class="nav-item"><a class="nav-link" href="#idocs_footer">Footer</a></li>
                            <li class="nav-item"><a class="nav-link" href="#idocs_box_layout">Box Layout</a></li>
                        </ul>
                    </li>
                    
                    
                   
                </ul>
            </div>

            <!-- Docs Content
	============================ -->
            <div class="idocs-content">
                <div class="container">

                    <!-- Getting Started
		============================ -->
                    <section id="idocs_start">
                        <h1>
                            <flag [code]="'IN'" [size]="'xl'"></flag> Angular Countries Flags</h1>
                        <h3>A super simple angular library for displaying country flag.</h3>
                        <p class="lead">Based on ISO 3166-1 alpha-2 list of countries.</p>
                        <hr>
                        <div class="row">
                            <div class="col-sm-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><strong>Version:</strong> Latest</li>
                                    <li><strong>Author:</strong> <a href="https://www.linkedin.com/in/chandicharan5983/" target="_blank"> Chandi Charan</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><strong class="font-weight-700">Created:</strong> 28 December, 2021</li>
                                    <li><strong>Updated:</strong> 28 December, 2021</li>
                                </ul>
                            </div>
                        </div>
                        <p class="alert alert-info">If you have any questions that are beyond the scope of this documentation Please feel free to email at <a target="_blank" href="mailto:'chandicharan5983@gmail.com'">chandicharan5983@gmail.com</a>.</p>
                    </section>

                    <hr class="divider">

                    <!-- Installation
		============================ -->
                    <section id="installation">
                        <h2>Installation & Usage</h2>
                        <p class="lead">Follow the steps below to install the package in your angular project</p>
                        <ol>
                            <li>Run <code>npm i angular-countries-flags</code> in your angular project.</li>
                            <li>Import <code>import  &#123;AngularCountriesFlagsModule&#125;  from angular-countries-flags</code> in the module you want to use the flag component.</li>
                            <li>
                                Put <code>AngularCountriesFlagsModule</code> in imports array of the module.
                                <pre>
                                  
                                  @NgModule(&#123;
                                    declarations: [
                                      AppComponent
                                    ],
                                    imports: [
                                      BrowserModule,
                                     <code>AngularCountriesFlagsModule</code> 
                                    ]
                                    bootstrap: [AppComponent]
                                    &#125;)
                                
                                </pre>

                            </li>
                            <li>Put the markup of the component in the component template
                                <br>
                                <code>
                                &#60;flag [code]="'IN'" [size]="'lg'"  [effect]="'app'"&#62;&#60;/flag&#62;
                              </code>
                             <br><br>
                             The Above code will generate Indian Flag <flag [code]="'IN'" [size]="'lg'"  [effect]="'app'"></flag> 

                           
                            </li>
                         
                        </ol>
                    </section>

                    <hr class="divider">

                    <!-- HTML Structure
		============================ -->
                    <section id="available_configurations">
                        <h2>Available Configurations</h2>
                        <h4>@Input</h4>
                        <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>Property & type</th>
                                  <th>Valid Values</th>
                                  <th>Is Required</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td><code>code : string</code></td>
                                  <td>
                                    ISO 3166-1 alpha-2 country code
                                  </td>
                                  <td>Yes</td>
                              </tr>
                              <tr>
                                  <td><code>size : string</code></td>
                                  <td>
                                    <code>'sm' , 'md' , 'lg' , 'xl'</code>
                                  </td>
                                  <td>No (default to 'sm')</td>
                              </tr>
                              <tr>
                                  <td><code>effect : string</code></td>
                                  <td>
                                    <code>'round','sphere','wave','app'</code>	
                                  </td>
                                  <td>No</td>
                              </tr>
                             
                          </tbody>
                      </table>
                       
                        <p class="alert alert-info">If you need more information, please visit bootstrap site: <a target="_blank" href="https://getbootstrap.com/docs/4.4/layout/grid/">https://getbootstrap.com</a></p>
                    </section>

                    <hr class="divider">

                    <!-- Sass
		============================ -->
                    <section id="available_country_codes">
                        <h2>Available Country Codes</h2>
                        <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>Serial</th>
                                  <th>Country Name</th>
                                  <th>Country Code</th>
                                  <th>Country Flag</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let country of countries|keyvalue; let i = index">
                                  <td>{{i+1}}</td>
                                  <td>{{country?.value}}</td>
                                  <td>
                                    <code>{{country?.key}}</code>
                                  </td>
                                  <td><flag [code]="country?.key ??''" [size]="'lg'"></flag> </td>
                              </tr>
                             
                             
                          </tbody>
                      </table>
                       
                        
                    </section>

                    <hr class="divider">

                    <section id="available_sizes">
                      <h2>Available sizes</h2>
                      <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Size value</th>
                                <th>Preview</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>sm</code></td>   
                                <td><flag [code]="'IN'" [size]="'sm'" ></flag> </td>
                            </tr>
                            <tr>
                              <td><code>md</code></td>   
                              <td><flag [code]="'IN'" [size]="'md'" ></flag> </td>
                          </tr>
                          <tr>
                            <td><code>lg</code></td>   
                            <td><flag [code]="'IN'" [size]="'lg'"  ></flag> </td>
                        </tr>
                        <tr>
                          <td><code>xl</code></td>   
                          <td><flag [code]="'IN'" [size]="'xl'"  ></flag> </td>
                      </tr>
                           
                           
                        </tbody>
                    </table>
                     
                      
                  </section>

                    <hr class="divider">

                    <section id="available_effects">
                      <h2>Available effects</h2>
                      <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Effect value</th>
                                <th>Preview</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>round</code></td>   
                                <td><flag [code]="'IN'" [size]="'xl'"  [effect]="'round'" ></flag> </td>
                            </tr>
                            <tr>
                              <td><code>sphere</code></td>   
                              <td><flag [code]="'IN'" [size]="'xl'"  [effect]="'sphere'" ></flag> </td>
                          </tr>
                          <tr>
                            <td><code>app</code></td>   
                            <td><flag [code]="'IN'" [size]="'xl'"  [effect]="'app'" ></flag> </td>
                        </tr>
                        <tr>
                          <td><code>app</code></td>   
                          <td><flag [code]="'IN'" [size]="'xl'"  [effect]="'wave'" ></flag> </td>
                      </tr>
                           
                           
                        </tbody>
                    </table>
                     
                      
                  </section>

                    <!-- Color Schemes
		============================ -->
                   

                   

                </div>
            </div>

        </div>
        <!-- Content end -->

        <!-- Footer
  ============================ -->
        <footer id="footer" class="section bg-dark footer-text-light">
            <div class="container">
                <ul *ngIf="false" class="social-icons social-icons-lg social-icons-muted justify-content-center mb-3">
                    <li><a data-toggle="tooltip" href="https://twitter.com/harnishdesign/" target="_blank" title="" data-original-title="Twitter"><i class="fab fa-twitter"></i></a></li>
                    <li><a data-toggle="tooltip" href="http://www.facebook.com/harnishdesign/" target="_blank" title="" data-original-title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a data-toggle="tooltip" href="http://www.dribbble.com/harnishdesign/" target="_blank" title="" data-original-title="Dribbble"><i class="fab fa-dribbble"></i></a></li>
                    <li><a data-toggle="tooltip" href="http://www.github.com/" target="_blank" title="" data-original-title="GitHub"><i class="fab fa-github"></i></a></li>
                </ul>
                <p class="text-center">Copyright &copy; 2021 <a target="_blank" href="https://www.linkedin.com/in/chandicharan5983/">Chandi Charan</a>. All Rights Reserved.</p>
                <p *ngIf="false" class="text-2 text-center mb-0">Design &amp; Develop by <a class="btn-link" target="_blank" href="http://www.harnishdesign.net/">HarnishDesign</a>.</p>
            </div>
        </footer>
        <!-- Footer end -->

    </div>
    <!-- Document Wrapper end -->

    <!-- Back To Top -->
    <a id="back-to-top" data-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript
============================ -->

</body>

</html>